.head {
  text-align: justify;
  font-size: 4.5rem;
  line-height: 1;
}

.head2 {
  font-size: 3.4rem;
  line-height: 1;
}

.bg-about {
  /* z-index: -1; */
  width: 67%;
  height: 600px;
  background-color: var(--neutral-700);
  bottom: 48px;
  right: 0;
  position: absolute;
}

.im {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  /* position: relative; */
}

.content {
  /* z-index: 1; */
  max-width: 60%;
  margin-bottom: 43px;
  /* position: absolute; */
  left: 0;
}

.band {
  display: grid;
  height: 130vh;
  width: 90vw;
  /* row-gap: 1rem; */
  align-content: center;
  grid-template-columns: 90vw;
  grid-template-rows: 40vh 40vh 40vh;
  border: 2px solid rgb(57, 223, 16);
}

.bg.home-about {
  z-index: -1;
  width: 67%;
  height: 537px;
  background-color: var(--neutral-700);
  bottom: 48px;
  right: 0;
}

 .f{
    height: 32vh;
    filter: blur(3px);
    /* object-fit: cover; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1.01);
    
}
/* .f:hover{
 transform: translate(0, -4px);
} */

.band1 {
  grid-column: 1/2;
  grid-row: 1/2;
  border: 2px solid rgb(46, 33, 231);
}
/* .band1 .k{
    transition: 2s ease;

}
.band1:hover .k{
 transform: scale(1.2);
}
.band1:hover h1{
    color: #f32c46;
} */



.band2 {
  grid-column: 1/2;
  grid-row: 2/2;
  border: 2px solid rgb(211, 233, 16);
}
.band3 {
  grid-column: 1/2;
  grid-row: 3/3;
  border: 2px solid rgb(240, 12, 137);
}

/* object-cover inline-block overflow-clip bg-blend-overlay */

@media screen and (max-width: 460px)  {
    
}